/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 8px;
    padding: 25px 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
}

/* Estilos para el encabezado */
form h3 {
    text-align: center;
    color: #1cb335; /* Color distintivo para el encabezado de edición */
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #1cb335; /* Línea decorativa debajo del encabezado */
}

/* Etiquetas de entrada */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[readonly] {
    background-color: #f5f5f5;
    color: #999;
}

textarea {
    resize: vertical;
}

button[type="submit"],
button[type="button"] {
    width: 48%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button[type="submit"] {
    background-color: #27ae60; /* Verde para guardar cambios */
    color: white;
}

button[type="button"] {
    background-color: #c0392b; /* Rojo para cancelar */
    color: white;
}

button[type="submit"]:hover {
    background-color: #229954;
}

button[type="button"]:hover {
    background-color: #a93226;
}

span {
    color: #e74c3c; /* Color rojo para el texto */
    background-color: #fdecea; /* Fondo rosa claro */
    font-size: 0.9em;
    padding: 0px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 3px; /* Reduce el margen superior */
    margin-left: 5px;
    position: relative;
    top: -10px; /* Acerca el mensaje al campo de texto */
}


